div(ng-controller="Component2Controller as ctrl2")
  h1.frontend-bootstrap-component-2
    {{ctrl2.component2Phrase}}
  form(name='userForm' ng-controller='UserController as userCtrl' ng-submit='userForm.$valid && userCtrl.addUser' novalidate)
    | Name (*)
    input(name='name', ng-model='userCtrl.user.name', required)
    br
    | Last Name (*)
    input(name='lastname', ng-model='userCtrl.user.lastname', required)
    br
    | Username (*)
    input(name='usrname', ng-model='userCtrl.user.usrname', required)
    br
    | Email (*)
    input(name='email', ng-model='userCtrl.user.email', type='email' required)
    br
    | Password (*)
    input(name='password', ng-model='userCtrl.user.password', required)
    br
    | Confirm Password (*)
    input(name='confirmpwd', ng-model='userCtrl.user.confirmpwd', required)
    br
    input(type='submit' value='Submit')			
  a(ui-sref='home.index')
    | Go to Home